@use "../../global" as g;

/*!
page > news > news
----------------------------
*/
.news-filter {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;

    @include g.mq() {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
}
.news-filter-label {
    cursor: pointer;
    width: 100%;
    cursor: pointer;
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-bg-accent02);
    display: grid;
    place-items: center;
    color: var(--color-font-subtitle);
    letter-spacing: 0.05em;
}
.news-filter.is_category .news-filter-item:nth-child(1) .news-filter-label {
    background-color: var(--color-bg-accent02);
    color: var(--color-font-white);
  }
  .news-filter.is_info .news-filter-item:nth-child(2) .news-filter-label {
    background-color: var(--color-bg-accent02);
    color: var(--color-font-white);
  }
  .news-filter.is_news .news-filter-item:nth-child(3) .news-filter-label  {
    background-color: var(--color-bg-accent02);
    color: var(--color-font-white);
  }
  .news-filter.is_recruit .news-filter-item:nth-child(4) .news-filter-label  {
    background-color: var(--color-bg-accent02);
    color: var(--color-font-white);
  }
.news-list {
    margin-top: 32px;

    @include g.mq() {
        margin-top: 64px;
    }
}
.news-item {
    &:not(:first-child) {
        margin-top: 28px;

        @include g.mq() {
            margin-top: 48px;
        }
    }
}
.news-item-link {
    @include g.mq() {
        display: flex;
        gap: 24px;
    }
}
.news-item-text {
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px;
    letter-spacing: 0.05em;

    @include g.mq() {
        margin-top: 0;
    }
}