/*!
global > color
--------------------------------------
*/
:root {
    --color-bg-accent: #24a2b3;
    --color-bg-accent02: #aa8f7b;
    --color-bg-secondary: #f7f6f5;
    --color-bg-base: #ffffff;
    --color-bg-header-sp-menu: #978374;
    --color-bg-footer: #292929;
    --color-bg-hamberger: #333333;
    --color-bg-breadcrumbs: #b9a393;
    --color-border-header-sp-menu: #aa8f7b;
    --color-border-main-brown: #d8ccc3;
    --color-border-sub-brown: #e7e0db;
    --color-border-gray: #d9dbde;
    --color-font-white: #ffffff;
    --color-font-base: #292929;
    --color-font-subtitle: #aa8f7b;
}