/*!
global > font
-----------------------------
*/
:root {
    --font-family-base:  'Noto Sans JP', sans-serif;
    --font-family-serif: 'Noto Serif JP', serif;
    --font-family-english: 'Quicksand', sans-serif;
}


