@use "../global" as g;

/*!
utility > utility
----------------------------
*/
.u-mt {
    margin-top: 32px;

    @include g.mq() {
        margin-top: 56px;
    }

}

.u-ptb {
    padding: 40px 0 120px;

    @include g.mq() {
        padding: 80px 0 120px;
    }
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}
