@use "../../global" as g;

/*!
page > furniture > furniture-color
----------------------------
*/
.furniture-color {
    background-color: var(--color-bg-secondary);
}
.furniture-color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    @include g.mq() {
        gap: 24px;
    }
}
.furniture-color-item {
    width: 104px;
    height: 104px;
    flex-shrink: 0;

    @include g.mq() {
        width: 180px;
        height: 180px;
        position: relative;

        &:hover {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .05));
            }
        }
    }

    &--01 {
        background-color: #e57373;
    }
    &--02 {
        background-color: #739be5;
    }
    &--03 {
        background-color: #73cce5;
    }
    &--04 {
        background-color: #73e5be;
    }
    &--05 {
        background-color: #e5c973;
    }
    &--06 {
        background-color: #e59973;
    }
    &--07 {
        background-color: #c3e573;
    }
    &--08 {
        background-color: #9973e5;
    }
    &--09 {
        background-color: #e573bb;
    }
    &--10 {
        background-color: #ffffff;
    }
    &--11 {
        background-color: #949494;
    }
    &--12 {
        background-color: #292929;
    }
}
