@use "../global" as g;

/*!
component >  breadcrumbs
----------------------
*/
.c-breadcrumbs {
    background-color: var(--color-bg-breadcrumbs);
    height: 32px;
    display: flex;
    align-items: center;

    @include g.mq() {
        height: 40px;
    }
}
.c-breadcrumbs-list {
    display: flex;
    overflow-x: scroll;
    color: var(--color-font-white);
    font-size: 13px;
    letter-spacing: 0.05em;
    scrollbar-width: none;
    gap: 16px;
    align-items: center;

    span {
        white-space: nowrap;
    }
}
.c-breadcrumbs-list::-webkit-scrollbar {
    display: none;
}

