@use "../global" as g;

/*!
component > button
----------------------
*/
.c-button {
    width: 100%;
    max-width: 220px;
    height: 56px;
    border: 2px solid var(--color-font-base);
    line-height: 1;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    padding: 0 16px 0 calc(16px + 0.1em);
    transition: all .3s;

    &:hover {
        @include g.mq() {
            color: var(--color-font-white);
            background-color: var(--color-font-base);
        }
    }

    &--white {
        color: var(--color-font-white);
        border-color: var(--color-font-white);
        transition: all .3s;

        &:hover {
            @include g.mq() {
                background-color: rgba( 255, 255, 255, .2);
            }
        }
    }

    &--english {
        text-transform: uppercase;
    }

    &--link-icon {
        display: flex;
        gap: 4px;
        align-items: center;

        &::after {
            content: "";
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url(/img/common/icon_link@2x.png);
            background-image: image-set(url(/img/common/icon_link@2x.png) 1x, url(/img/common/icon_link@2x.png) 2x);
            background-image: -webkit-image-set(url(/img/common/icon_link@2x.png) 1x, url(/img/common/icon_link@2x.png) 2x);
            background-size: 13px;
            background-repeat: no-repeat;
        }

        &:hover {
            @include g.mq() {
                &::after {
                    background-image: url(/img/common/icon_link_white@2x.png);
                    background-image: image-set(url(/img/common/icon_link_white@2x.png) 1x, url(/img/common/icon_link_white@2x.png) 2x);
                    background-image: -webkit-image-set(url(/img/common/icon_link_white@2x.png) 1x, url(/img/common/icon_link_white@2x.png) 2x);
                }
            }
        }
    }
}
.c-button-onlineshop,
.c-button-contact {
    color: var(--color-font-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 196px;
    margin: 0;
    transition: opacity .3s;

    @include g.mq() {
        &:hover {
            opacity: 0.7;
        }
    }

    &::before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 12px;
    }

    &--sp {
        width: 50%;
        letter-spacing: 0.05em;
    }
}

.c-button-onlineshop {
    font-family: var(--font-family-english);
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--color-bg-accent);

    &::before {
        width: 20px;
        height: 21px;
        background-image: url(/img/common/icon_header_onlineshop@2x.png);
        background-image: image-set(url(/img/common/icon_header_onlineshop.png) 1x, url(/img/common/icon_header_onlineshop@2x.png) 2x);
        background-image: -webkit-image-set(url(/img/common/icon_header_onlineshop.png) 1x, url(/img/common/icon_header_onlineshop@2x.png) 2x);
        background-size: 20px;
    }
}

.c-button-contact {
    background-color: var(--color-bg-accent02);
    font-weight: 500;

    &::before {
        width: 18px;
        height: 13px;
        background-image: url(/img/common/icon_header_contact@2x.png);
        background-image: image-set(url(/img/common/icon_header_contact.png) 1x, url(/img/common/icon_header_contact@2x.png) 2x);
        background-image: -webkit-image-set(url(/img/common/icon_header_contact.png) 1x, url(/img/common/icon_header_contact@2x.png) 2x);
        background-size: 18px;
    }
}
