@use "../global" as g;

/*!
component > title
----------------------
*/
%title-english {
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--font-family-english);
    font-weight: bold;
    display: block;
}

/*! level1 */
.c-title-level1 {
    font-size: 24px;
    color: var(--color-font-white);
    font-weight: 500;
    letter-spacing: 0.2em;

    @include g.mq() {
        font-size: 36px;
    }

    &--center {
        text-align: center;
        padding-left: 0.2em;
    }
}

.c-title-level1-english {
    font-size: 14px;
    color: var(--color-font-white);
    @extend %title-english;
    letter-spacing: 0.08em;

    @include g.mq() {
        font-size: 18px;
    }

    &--center {
        text-align: center;
        padding-left: 0.08em;
    }
}
/*! level2 */
.c-title-level2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 1;

    @include g.mq() {
        font-size: 24px;
    }

    &--center {
        text-align: center;
        padding-left: 0.15em;
    }

    &--white {
        color: var(--color-font-white);
    }
}

.c-title-level2-english {
    font-size: 14px;
    color: var(--color-font-subtitle);
    @extend %title-english;
    letter-spacing: 0.05em;
    margin-top: 16px;

    @include g.mq() {
        font-size: 15px;
    }

    &--center {
        text-align: center;
        padding-left: 0.05em;
    }

    &--white {
        color: var(--color-font-white);
    }
}

